In [1]:
# Take values of the length & breadth of a rectangle from user input and check if it is square or not.
length = input("Please Enter your Length = ");
breadth = input ("Please Enter your Breadth = ");
if (length == breadth):
    print("It is a Square")
else:
    print("It is a rectangle ")

Please Enter your Length = 12
Please Enter your Breadth = 12
It is a Square

In [3]:
# Take three integer values from the user and print the greatest among them.
firstNo = input("Please Enter your First number  = ");
secondNo = input ("Please Enter your Second Number = ");
thirdNo = input("Please Enter Your Third number = ");
if firstNo>secondNo and firstNo > thirdNo :
    print(" The greatest Number is " +firstno)
elif secondNo> firstNo  and secondNo>thirdNo:
    print("The greatest Number is " + secondNo)
else:
    print("The greatest Number is " + thirdNo)

Please Enter your First number  = 23
Please Enter your Second Number = 43
Please Enter Your Third number = 24
The greatest Number is 43

In [4]:
# A student will not be allowed to sit in an exam if his/her attendance is less than 75%
totalClass = int(input("Enter total classes held  = "));
classesAttended = int(input("Enter classes attended by student =  "));
percentage = int((classesAttended/totalClass)*100);
if (classesAttended<=totalClass):
    print("The class attendance percentage of the student is ",percentage,"%")
    
    if percentage > 75 :
        print("This student is allowed to sit in exam because his/her percentage is above 75")
    else:
         print("This student is not allowed to sit in exam because his/her percentage is below 75")

Enter total classes held  = 25
Enter classes attended by student =  14
The class attendance percentage of the student is  56 %
This student is not allowed to sit in exam because his/her percentage is below 75

In [6]:
''' A school has the following rules for the grading system:
Below 25 – F, 25 to 44 – E, 45 to 49 – D, 50 to 59 – C, 60 to 79 – B, 80 to 89 - A, Above 90 - A+
Now, Ask the user to enter marks and print the corresponding grade.'''


scores = int(input("Enter your score  = "));

if scores >= 90 and scores<= 100:
        print("Your Grade : A+")
elif scores >= 80 and scores<= 89:
        print("Your Grade : A")
elif scores >= 60 and scores<= 79:
        print("Your Grade : B")
elif scores >= 50 and scores<= 59:
        print("Your Grade : C")
elif scores >= 45 and scores<= 49:
        print("Your Grade : D")
elif scores >= 25 and scores<= 44:
        print("Your Grade : E")
else:
        print("Your Grade : F")

Enter your score  = 78
Your Grade : B

In [8]:
# 5.Print the following pattern using for loop
size = 7
count = 0
for i in range(size):
    for j in range(size-i):
        print(j+1, end="")
    count+=1
    if count==4:
        break
    print()

1234567
123456
12345
1234

In [9]:
''' Display numbers from -100 to -10 using for loop'''
print('Numbers from -100 to -10:')
for n in range(-100, -9):
    print(n, end=' ')

Numbers from -100 to -10:
-100 -99 -98 -97 -96 -95 -94 -93 -92 -91 -90 -89 -88 -87 -86 -85 -84 -83 -82 -81 -80 -79 -78 -77 -76 -75 -74 -73 -72 -71 -70 -69 -68 -67 -66 -65 -64 -63 -62 -61 -60 -59 -58 -57 -56 -55 -54 -53 -52 -51 -50 -49 -48 -47 -46 -45 -44 -43 -42 -41 -40 -39 -38 -37 -36 -35 -34 -33 -32 -31 -30 -29 -28 -27 -26 -25 -24 -23 -22 -21 -20 -19 -18 -17 -16 -15 -14 -13 -12 -11 -10

In [10]:
'''Write a program to sum all prime numbers within a range of 10 to 1000'''
print("Prime numbers are : ")
for num in range(10,1001):
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num,end=" ")

Prime numbers are :
11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397 401 409 419 421 431 433 439 443 449 457 461 463 467 479 487 491 499 503 509 521 523 541 547 557 563 569 571 577 587 593 599 601 607 613 617 619 631 641 643 647 653 659 661 673 677 683 691 701 709 719 727 733 739 743 751 757 761 769 773 787 797 809 811 821 823 827 829 839 853 857 859 863 877 881 883 887 907 911 919 929 937 941 947 953 967 971 977 983 991 997

In [12]:
'''Find the factorial of an n!'''
n = int(input("Enter your number= "))
fact =1
for i in range(1,n+1):
    fact*=i;
print("The factorial of",n,"is",fact)

Enter your number= 7
The factorial of 7 is 5040

In [13]:
# Reverse a given integer number 27956240710.

n = 27956240710
rev = 0
while(n>0):
    digit=n%10;
    rev= rev*10+digit;
    n=n//10
print("Reverse Number=",rev)

Reverse Number= 1704265972

In [1]:
#Print the following pattern using for loop.
for i in range(1, 5):
    for j in range(1, i+1):
        if j < i:
            print("#", end=" ")
        else:
            print("#")
    if i == 2:
        continue
    for j in range(i+1, 5):
        if j < 4:
            print("#", end=" ")
        else:
            print("#")

#
# # #
# #
# # #
#
# # # #

In [17]:
#Display the Fibonacci series of 15 elements using the for loop
a, b = 0, 1
print("The Fibonacci series of 15 elements :")
for i in range(15):
    print(a, end=" ")
    c = a + b
    a = b
    b = c

The Fibonacci series of 15 elements :
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [5]:
#Remove 2 and add 3 to the list and replace True with False.
li = [1,3,5, [2,3], True]
li[3][0]=3
li [4]=False
print(li)

[1, 3, 5, [3, 3], False]

In [7]:
#Find the intersection (common) of two sets
s1 = {1,4,6,8}
s2 = {True,1,2,10}
s3= s1.intersection(s2)
print(s3)

{True}

In [8]:
#Input a list from the user then Remove duplicates from a list and create a set and find the max
User_input = [1,9,3,4,5,200,5,4]
result = {x for x in User_input}
print("Set after removing duplicate elements: ", result)
print("max element: ",max(result))

Set after removing duplicate elements:  {1, 3, 4, 5, 200, 9}
max element:  200

In [10]:
#Write a program to rename a key ‘country’ to a ‘region’ in the following dictionary.
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
print("Before rename ",Dict)
Dict["region"]=Dict.pop("country")
print("After rename",Dict)

Before rename  {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}
After rename {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

In [11]:
import pandas as pd

In [14]:
#Creating a data frame using the list.
num = [10,100,300]
df = pd.DataFrame(num,columns =['Number'])
df

   Number
0      10
1     100
2     300

In [16]:
#Write a Python program to change ‘age’ to 28 in the following dictionary
Dict = { "name": "Shakil", "age":27, "city": "Berlin", "country": "Germany" }
print("Before Change ",Dict)
Dict['age']=28
print("After Change",Dict)

Before Change  {'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'country': 'Germany'}
After Change {'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}